.App {
  background-color: #1d0000;
}


@keyframes slide-in {
    from {
      translate: 150vw 0;
      scale: 200% 1;
    }
  
    to {
      translate: 0 0;
      scale: 100% 1;
    }
  }

  @keyframes appear {
    0% {
      opacity: 0;
      scale: 0.3;
    }

    100% {
      opacity: 1;
      scale: 1;
    }
  }